/* Navbar.css */

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
  position:sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #0077cc;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  font-size: 16px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

.navbar-links a:hover {
  color: #0077cc;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin:0px 200px;
}

.search-input {
  padding: 8px 12px;
  font-size: 14px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.login-btn {
  padding: 8px 16px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #005fa3;
}
.search-suggestions {
  position: absolute;
  background: white;
  border: 1px solid #7c7c7c;
  margin-top: 50px;
  margin-left: 25%;
  max-height: 300px;         /* LIMIT HEIGHT */
  overflow-y: auto; 
  width: 50%;
  z-index: 999;
  list-style: none;
  padding: 0;
  border-radius:5px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.8);

}

.search-suggestions li {
  padding: 8px 12px;
  cursor: pointer;
}

.search-suggestions li:hover {
  background-color: #c6c6c6;
  border-radius:5px;
}
