
.course-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50% - 50% split */
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.course-detail-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.course-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-detail-info h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.course-detail-info p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

.course-detail-info .tags {
  margin-top: 1rem;
}

.course-detail-info .tag {
  display: inline-block;
  background-color: #eee;
  color: #333;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.course-actions{
  
  margin-top:10px;
  padding:10px;
  display: flex;
  justify-content: space-between;
}

.read-btn,.cart-btn{
  padding:10px 20px;
  font-size:20px;
  cursor:pointer;
  border:1px solid rgb(255, 255, 255);
  border-radius:15px;
  background-color: #0077cc;
  color:white;
}



.read-btn:hover{
  border:2px solid black;
}

.cart-btn.add {
  background-color: #0077cc; /* blue */
  color: white;
}

.cart-btn.remove {
  background-color: #dc3545; /* red */
  color: white;
}

.read-btn.add {
  background-color: #0077cc; /* blue */
  color: white;
}

.read-btn.remove {
  background-color: #dc3545; /* red */
  color: white;
}